*.log
*.txt
*jobs/
*.pt
*.zip
*.pth.tar
*.tar.gz
*.lock
*.cif
*.xyz
*.traj
*Untitled*.ipynb
*.ipynb_checkpoints/
*__pycache__/
*dset/
*models/*
!*models/*.py
*images/
*data/*
!*data/*.py
*params/
*adv/
*inbox/
*submitted/
